//- login_layout.jade
doctype
html(lang="pt-br")
    head
        block title
            title Victor
        link(rel="stylesheet" href="/vendor/bootstrap/dist/css/bootstrap.min.css")
        style
            block style-extra
    body
        block conteudo
        include _footer